<ng-container *ngIf="coffeeDetail; else empty">
  <mat-card class="coffee-card">
    <mat-card-title>{{coffeeDetail.blend_name}}</mat-card-title>
    <mat-card-subtitle>Intensifier: {{coffeeDetail.intensifier}}</mat-card-subtitle>
    <mat-card-content>
      <p>Origin: {{coffeeDetail.origin}}</p>
      <p> {{coffeeDetail.notes}} </p>
    </mat-card-content>
  </mat-card>
</ng-container>

  <ng-template #empty>
    Sorry we're closed 🙁
  </ng-template>

<button mat-button color="warn" [routerLink]="['/coffee']">Show List</button>
