<div class="mat-elevation-z8">
  <table mat-table [dataSource]="data" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!-- Blend Name Column -->
    <ng-container matColumnDef="blend_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Blend Name</th>
      <td mat-cell *matCellDef="let element">{{ element.blend_name }}</td>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Origin</th>
      <td mat-cell *matCellDef="let element">{{ element.origin }}</td>
    </ng-container>

    <!-- Variety Column -->
    <ng-container matColumnDef="variety">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Variety</th>
      <td mat-cell *matCellDef="let element">{{ element.variety }}</td>
    </ng-container>

    <!-- Notes Column -->
    <ng-container matColumnDef="notes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes</th>
      <td mat-cell *matCellDef="let element">{{ element.notes }}</td>
    </ng-container>

    <!-- Intensifier Column -->
    <ng-container matColumnDef="intensifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Intensifier</th>
      <td mat-cell *matCellDef="let element">{{ element.intensifier }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="getCoffeeDetail(row.uid)"></tr>
  </table>

  <mat-paginator
    class="mat-paginator-sticky"
    [pageSizeOptions]="[5, 10]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    color="warn"
  >
  </mat-paginator>
</div>